<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Install this app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div>
    <div class="container" style="margin-top:10%">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class='panel panel-success'>
            <div class="panel-heading">Please enter your store's URL:</div>
            <div class="panel-body">
              <form action="{{ url_for('authorize') }}" class="container-fluid" method="GET">
                <fieldset class="form-group row">
                  <label for="shop" class="col-xs-4  form-control-label">Shopify shop URL:</label>
                  <div class="input-group col-xs-8">
                    <input type="text" class="form-control" name="shop" id="shop" placeholder="your-shop.myshopify.com">

                  </div>
                </fieldset>
                <button type="submit" class="btn btn-primary">Install</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
